<html>

  <head>
    <title>User Info</title>
  </head>

  <style>
    .table {
      display: table;
      border-collapse: collapse;
      font-size: 20px;
    }

    .row {
      display: table-row;
      border-bottom: 1px solid black;
    }

    .privacy-row {
      display: table-row;
      border-bottom: 1px solid black;
      font-weight: bold;
      color: red;
    }

    .column {
      display: table-cell;
      width: 50%;
    }
  </style>

  <body>
    <h1>Welcome to User Info System!</h1>
    <br />

    <div>
    {% if user %}
      <h2>User Information:</h2>
      <div class="table">
        <div class="row"><div class="column">Id: </div><div class="column">{{ user.id }}</div></div>
        <div class="row"><div class="column">Name: </div><div class="column">{{ user.name }}</div></div>
        <div class="row"><div class="column">Email: </div><div class="column">{{ user.email }}</div></div>
      </div>
      <h2>
        <a href="/">return</a>
      </h2>
    {% elif error %}
      <h2>
        Error: {{ error }} <br />
        <a href="/">return</a>
      </h2>
    {% else %}
      <h2>
        Enter User Id
        <form action="/">
          <input type="text" name="userId" value="1"/>
          <input type="submit" />
        </form>
      </h2>
    {% endif %}
    </div>
  </body>

</html>
