<html>

<head>
    <title>User Info</title>
</head>

<body>
    <h1>Welcome to User Profile!</h1>
    <br />

    <div>
        <h2>
            <li>Your Id is {{ user_id }}</li>
            <li>name: {{ name }}</li>
            <li>email: {{ email }}</li>
        </h2>
    </div>
</body>

</html>