<html>

  <head>
    <title>User Info</title>
  </head>

  <style>
    .table {
      float: left;
      width: 350px;
      display: table;
      border-collapse: collapse;
      font-size: 20px;
    }

    .row {
      display: table-row;
      border-bottom: 1px solid black;
    }

    .privacy-row {
      display: table-row;
      border-bottom: 1px solid black;
      font-weight: bold;
      color: red;
    }

    .caption {
      display: table-caption;
      font-weight: bold;
      width: 30%;
    }

    .column {
      display: table-cell;
      width: 70%;
    }

    .portrait {
      margin-left: 360px;
    } 
  </style>

  <body>
    <h1>Welcome to <font color="red">Advanced</font> User Info System!</h1>
    <br />

    <div>
    {% if user %}
      <h2>User Information:</h2>
      <div class="table">
        <div class="row"><div class="caption">Id: </div><div class="column">{{ user.id }}</div></div>
        <div class="row"><div class="caption">Name: </div><div class="column">{{ user.name }}</div></div>
        <div class="privacy-row"><div class="caption">Sexual: </div><div class="column">{{ user.sexual }}</div></div>
        <div class="privacy-row"><div class="caption">Age: </div><div class="column">{{ user.age }}</div></div>
        <div class="row"><div class="caption">Email: </div><div class="column">{{ user.email }}</div></div>
      </div>
      <div class="portrait"><img src="{{ url_for('static', filename=user.id + '.jpg') }}" height="180" /></div>
      <h2>
        <a href="/">return</a>
      </h2>
    {% elif error %}
      <h2>
        Error: {{ error }} <br />
        <a href="/">return</a>
      </h2>
    {% else %}
      <h2>
        Enter User Id
        <form action="/">
          <input type="text" name="userId" value="1"/>
          <input type="submit" />
        </form>
      </h2>
    {% endif %}
    </div>
  </body>

</html>
